# DAY 1

In [1]:
x=10
print(id(x))

140710367106120

In [2]:
x=10
y=11
z=12
print(id(x),id(y),id(z))

140710367106120 140710367106152 140710367106184

In [3]:
myvar="hello"           #variable declaration types
my_var="hello"
_my_var="Hello"
Myvar="hello"

print(myvar)
print(my_var)
print(_my_var)
print(Myvar)

hello
hello
Hello
hello

In [4]:
def hello():
    a=10
    print(a)    #local variable
    return
hello()

10

In [5]:
a= "Welcome to Code Unnati 2.0" # Gloabal variable
def hello():
    a=20
    print(a)    #local variable
    return
print(a)

Welcome to Code Unnati 2.0

In [6]:
#this is integer Datatype

a=10
print(a)
print(type(a))

10
<class 'int'>

In [7]:
#Multiple assignment
b,c,d =11,12,13
print(a,b,c,d)

10 11 12 13

In [8]:
# addition ,sub, mul,dic :- +,-,*,/ etc
x=5
y=3
print(x+y)

8

In [9]:
x=5
y=3
print(x/y)    #division

1.6666666666666667

In [10]:
x=5
y=3
print(x//y)  #float division

1

In [11]:
x=5
x+=3
print(x)  # Assignment Operator  *= , /= , -/

8

In [12]:
# comparsion operator
x=5
y=3
print(x==y)

#return false because 5 is not equal to 3

False

In [13]:
x=5
y=3
print(x!=y)  # Not equal

True

In [14]:
#logical operator

x=5
print(x>3 and x<10)

#return true both the condition true

True

In [15]:
x=5
print(x>3 or x<10)

# retur true one of the condition is true

True

In [16]:
x=5
print(not(x>3 and x<10))

# return false not is used to reverse the conditions

False

In [17]:
# user input

x= int(input("Enter the value of x: "))

y= int(input("Enter the value of y: "))

z=x*y

print(z)

Enter the value of x: 5
Enter the value of y: 6
30

In [18]:
# user input in float
x= float(input("Enter the value of x: "))

y= float(input("Enter the value of y: "))

z=x*y

print(z)

Enter the value of x: 5.2
Enter the value of y: 2.3
11.959999999999999

In [19]:
# String

Statement ="   Python is a programming language"
print(Statement)

   Python is a programming language

In [20]:
print(type(Statement))  #type is used to check the datatype

<class 'str'>

In [21]:
Statement ="  \n Python is a programming language" * 6    #repetition operator(*)
print(Statement)

 Python is a programming language
 Python is a programming language
 Python is a programming language
 Python is a programming language
 Python is a programming language
 Python is a programming language

In [22]:
Statement ="Python is a programming language" + " Welcome the code unnati 2.0"   #Concatenation operator(+)
print(Statement)

Python is a programming language Welcome the code unnati 2.0

In [7]:
# Method in python strings

Statement1 ="Python is a Programming language"

Statement1.lower()  #lower method

'python is a programming language'

In [28]:

Statement1 ="Python is a Programming language"

Statement1.upper()  #Upper method

'PYTHON IS A PROGRAMMING LANGUAGE'

In [29]:
Statement1 ="     Python is a Programming language"

Statement1.title()  #Title method to convert text into snakewrting

'Python Is A Programming Language'

In [32]:
# Strip method
Statement.lstrip()   #remove space from left side

'Python is a programming language'

In [33]:
# Strip method
Statement.rstrip()   #remove space from right side

'Python is a programming language'

In [34]:
# Strip method
Statement.strip()   #remove space from both side

'Python is a programming language'

In [35]:
# String formatting are three types

# 1.default  2.positional  3.keyword


String1 ="{} {} {}" .format('python','programming','language')
print(String1)

python programming language

In [36]:
#positional formatting

String1 ="{1} {0} {2}" .format('python','programming','language')
print(String1)

programming python language

In [39]:
# keyword formatting

String1 ="{a} {d} {c}" .format(a='python',d='programming',c='language')
print(String1)

python programming language

In [41]:
# insert the string in the string fromats

name= 'Kartik'
course ='code Unnati Program 2.0'
                                                                     #f is format of the string
print(f"Hello, My name is {name} and I registered for {course}")

Hello, My name is Kartik and I registered for code Unnati Program 2.0

In [3]:
# String Slicing

Str1 ="TECHNOLOGY"
                                   #positive indexing   0 --> N        start from left to right
                                   #negative indexing -1 --> -N     start from right to left
Str1[0]

'T'

In [44]:
Str1[6]

'L'

In [45]:
Str1[0:7]          # 0 to 6

'TECHNOL'

In [46]:
Str1[::-1]

'YGOLONHCET'

In [4]:
Str1[:]

'TECHNOLOGY'

In [48]:
Str1[-4:-1]

'LOG'

In [ ]:
# python data type  1. Immutable   2.mutable(changeable)

In [49]:
# create list

list1 =["parul",22,"bharat",45.5,"vadodara",99]
print(list1)

print(type(list1))

['parul', 22, 'bharat', 45.5, 'vadodara', 99]
<class 'list'>

In [50]:
list1[0]   #access 1st position item from list

'parul'

In [51]:
list1[3] #access 4th position

45.5

In [52]:
list1[0][2:4]

'ru'

In [53]:
# append means adding something

fruits = ['apple','orange','cheerr']
fruits.append('banana')
print(fruits)

['apple', 'orange', 'cheerr', 'banana']

In [55]:
#extend 

fruits = ['apple','orange','cheerr']
cars = ['BMW','tata']

fruits.extend(cars)
print(fruits)

['apple', 'orange', 'cheerr', 'BMW', 'tata']

In [56]:
# insert

fruits = ['apple','orange','cheerr']
fruits.insert(1,'banana')
print(fruits)

['apple', 'banana', 'orange', 'cheerr']

In [59]:
#pop method

fruits = ['apple','orange','cheerr']
fruits.pop(1)
print(fruits)

['apple', 'cheerr']

In [2]:
#remove

fruits=['apple','banana','apple','cherry']
fruits.remove('apple')
print(fruits)

['banana', 'apple', 'cherry']

# DAY 2

In [3]:
#sort method

cars =['ford','BMW','volvo']
cars.sort()                     #the words will be arrange in alphabetical order
print(cars)

['BMW', 'ford', 'volvo']

In [4]:
# Splits method

text = input("Enter the word:")
text.split()

Enter the word:I love Python Programming

['I', 'love', 'Python', 'Programming']

# Python tuples

In [5]:
# create tuples

tup1 = ("parul",22,"Bharat",45.5,"vadodara",99)
print(tup1)
print(type(tup1))

('parul', 22, 'Bharat', 45.5, 'vadodara', 99)
<class 'tuple'>

In [6]:
tup1[4]

'vadodara'

In [7]:
tup1[2:4]

('Bharat', 45.5)

In [8]:
tup2 = ("Python",87)

tup3 = tup1 + tup2
print(tup3)

('parul', 22, 'Bharat', 45.5, 'vadodara', 99, 'Python', 87)

In [9]:
# immutable

del tup3[3]           # del is keyword used for deleting the items.
print (tup3)

TypeError: 'tuple' object doesn't support item deletion

In [10]:
# count method

number = (1,3,7,8,7,5,4,6,8,5)

x= number.count(5)                # 5 is the element in tuple

print(x)

2

In [11]:
# index method

number = (1,3,7,8,7,5,4,6,8,5)

x= number.index(8)                  # 8 is the element in tuple

print(x)

3

# Dictionary

In [12]:
cars = {'brands': 'Mahindra','model':'thar','year':2010}
print(cars)
print(type(cars))

{'brands': 'Mahindra', 'model': 'thar', 'year': 2010}
<class 'dict'>

In [13]:
print(cars['model'])     # accesssing item

thar

In [14]:
# print only key value
print(cars.keys())

dict_keys(['brands', 'model', 'year'])

In [15]:
# print only value
print(cars.values())

dict_values(['Mahindra', 'thar', 2010])

In [16]:
cars.items()           # to access all keys, value

dict_items([('brands', 'Mahindra'), ('model', 'thar'), ('year', 2010)])

In [17]:
# update method

cars.update({"year":2012})
cars

{'brands': 'Mahindra', 'model': 'thar', 'year': 2012}

In [18]:
# adding items

cars['color'] = 'black'        # to add key value pair
print(cars)

{'brands': 'Mahindra', 'model': 'thar', 'year': 2012, 'color': 'black'}

In [19]:
# removing items

cars.pop('model')
cars

{'brands': 'Mahindra', 'year': 2012, 'color': 'black'}

# Sets

In [20]:
sub1 = {'physics', 'Hindi','chemistry','maths','hindi'}
print(sub1)
print(type(sub1))

{'maths', 'physics', 'Hindi', 'chemistry', 'hindi'}
<class 'set'>

In [22]:
sub2 = {'history', 'social science','biology','hindi'}
print(sub2)

{'social science', 'history', 'biology', 'hindi'}

In [23]:
sub1|sub2             # this pipe symbole used to make union of two sets

{'Hindi',
 'biology',
 'chemistry',
 'hindi',
 'history',
 'maths',
 'physics',
 'social science'}

In [24]:
sub1.intersection(sub2)       #intersection keywords uses

{'hindi'}

# Python built in function in data type

In [25]:
# len function
fruits =['apple','banana','cherry']
len(fruits)

3

In [27]:
len(fruits[0])

5

In [26]:
name ='Shivaji Maharaj'    #count the space as well
len(name)

15

In [30]:
# Sorted function

theater ={'Movie':'Pushpa','Actor':'Arjun','year':2021}
sorted(theater)

['Actor', 'Movie', 'year']

In [31]:
# Max function
number = [1,2,6,8,4,9,0,4]
max(number)

9

In [32]:
# sum function
number =[1,3,7,6,7,9,3]
sum(number)

36

In [33]:
# Dir function
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# Type casting

In [1]:
n =10
print(type(n))

n = float(n)          # converted to float
print(type(n))

<class 'int'>
<class 'float'>

In [2]:
n =10
n= str(n)
print(type(n))

<class 'str'>

In [3]:
fruits = {'apple','banana','cheery'}
print(type(fruits))

fruits = tuple(fruits)         #converted to tupke
print(type(fruits))

<class 'set'>
<class 'tuple'>

# Function

In [9]:
def add_number(num1, num2):
    result = num1+num2
    return result

sum_result = add_number(5,3)
print("the sum is: ",sum_result)

the sum is:  8

# Python Conditional Statement

### Python if Statement

In [10]:
number = 10
if number > 0:
    print('Number is positive')
    
print('the if statment is easy')

Number is positive
the if statment is easy

### Python if....else Statement

In [11]:
number = 10
if number > 0:
    print('Positive Statment')
    
else:
    print('Negative Statement')
    
print('the if statment is easy')

Positive Statment
the if statment is easy

### Elif Statement

In [13]:
number = int(input("Enter Number "))

if number > 0:
    print('Positive Statment')
    
elif number ==0:
    print('Zero')
    
else:
    print('Negative Statement')
    
print('the if statment is easy')

Enter Number 6
Positive Statment
the if statment is easy

# DAY 4

# While loop

In [1]:
counter = 0 
while counter < 3:
    print('Hello World')
    counter = counter +1

Hello World
Hello World
Hello World

# For loop
  
  #### use of range() to define a range of value- range(Start, stop, step)

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
for letter in "Python":
    print(letter)

P
y
t
h
o
n

In [9]:
for i in range(-100,0,5):
    print(i)

-100
-95
-90
-85
-80
-75
-70
-65
-60
-55
-50
-45
-40
-35
-30
-25
-20
-15
-10
-5

In [11]:
fruits = ['apple','banana', 'cheery']

for fruit in fruits:
    print(fruit)

apple
banana
cheery

# Python Expression Statement

### Pass Statement

In [12]:
n =10
# use pass inside if statement

if n > 10:
    pass

### Del Statement

In [13]:
x = ["physics","Chemistry","maths"]

del x[0]
print(x)

['Chemistry', 'maths']

### Break Statement

In [15]:
i = 1
while i<9:
    print(i)
    if i ==3:
        break
    i += 1

1
2
3

### Continue Statement

In [16]:
i = 0
while i<10:
    i+=1
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7
8
9
10

# Question 1

In [20]:
def calculate_total_bill(items,prices):
    if len(items) != len(prices):
        return "Error : The number of items and price should be the same."
    
    total_bill =0
    for price in prices:
        total_bill += price
    return total_bill

#example usage

item_list = ['Apple','banana','milk','bread']
price_list = [1.2,0.6,2.3,1.5]
total_bill_amount = calculate_total_bill(item_list, price_list)
print("Total bill amount: ", total_bill_amount)

Total bill amount:  5.6

# Question 2

In [27]:
def calculate_discounted_bill(original_prices, discount_items):
    discounted_bill =0
    for i in range(len(original_prices)):
        if discount_items[i]:
            discount_bill += original_prices[i] * 0.9
        else:
                discounted_bill += original_prices[i]
        return discounted_bill
    
    
# example usage

original_prices_list =[10,5,8,12]
discounted_items_list = [True,False,True,False]
discounted_bill_amount = calculate_discounted_bill(original_prices_list, discount_items_list)
print("Discounted bill amount: ", discounted_bill_amount)

NameError: name 'discount_items_list' is not defined

# Lambda Function

#### lambda argument : Expression      


###### syntax

In [28]:
x = lambda a: (a+10)
print(x(5))

15

In [29]:
x = lambda a,b : a*b
print(x(5,6))

30

# Exception handling

### 1.Try-except block

In [31]:
try:
    numerator = int(input("Enter the numerator"))
    denominator =int(input("Enter the denominator"))
    result = numerator/denominator
    print("Result: ",result)
    
except ZeroDivisionError:
    print("Error: Cannot divisible by zero")
 
except ValueError:
    print("Error : Please enter valid integer for num and dem")

Enter the numerator10
Enter the denominator10.1
Error : Please enter valid integer for num and dem

### 2. Try-except-else block

In [33]:
try:
    number =int(input("Enter the number: "))
except ValueError:
    print("Error: Please Enter a valid integer")
else:
    square = number**2
    print("Square of the number: ",square)

Enter the number: 1.2
Error: Please Enter a valid integer

### 3. Try-except-finally block

In [37]:
try:
    file = open("data.txt", "r")
    content = file.read()
    print(content)

except FileNotFoundError:
    print("Error: File not Found.")
    
finally:
    if 'file' in locals():
        file.close()

Jai Shree Ram